<%- include('header.ejs'); %>

<body>
    <div id="main-content">
        <header class="main-header">
            <h1 class="main-hello-title">Hello <%= user.username %>!</h1>
            <h1 class="main-header-title">Linote</h1>
        </header>

        <form action="/main" method="post">
            <button title="Create a new note" type="submit" class="add-button">+</button>
        </form>
        

        <ul id="notecontainer">
        </ul>

        <form action="/logout">
            <div class="logout-button-div">
                <button title="Log out" type="submit" class="logout-button"><img class="logout-icon"
                        src="logout.png"></button>
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>