<%- include('header.ejs'); %>

<body>
    <div id="main-content">
        <header class="main-header">
            <h1 class="main-hello-title">Hello torcsi!</h1>
            <h1 class="main-header-title">Linote</h1>
        </header>

        <button title="Create a new note" type="submit" class="add-button">+</button>

        <div class="note-container"></div>

        <form action="/">
            <div class="logout-button-div">
                <button title="Log out" type="submit" class="logout-button"><img class="logout-icon"
                        src="logout.png"></button>
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>