<%- include('header.ejs'); %>

<body>
    <div id="main-content">
        <header class="main-header">
            <h1 class="main-hello-title">Hello torcsi!</h1>
            <h1 class="main-header-title">Linote</h1>
        </header>

        <button title="Create a new note" type="submit" class="add-button">+</button>

        <div class="note-container">
            <div class="note">
                <div class="note-title-div">
                    <input class="note-title" type="text" name="" placeholder="Title:">
                    <textarea class="note-textarea" name="" id="" cols="15" rows="5" class="note-textarea" placeholder="Content:"></textarea>
                </div>
                <div class="buttons-on-note">
                    <button type="submit" title="Delete Note" class="delete-button"><img class="delete-icon"
                            src="delete.png"></button>
                    <button type="submit" title="Voice Recognition" class="voice-button"><img src="voice.png"
                            class="voice-icon"></button>
                </div>
            </div>
            <div class="note">
                <div class="note-title-div">
                    <input class="note-title" type="text" name="" placeholder="Title:">
                    <textarea class="note-textarea" name="" id="" cols="15" rows="5" class="note-textarea" placeholder="Content:"></textarea>
                </div>
                <div class="buttons-on-note">
                    <button type="submit" title="Delete Note" class="delete-button"><img class="delete-icon"
                            src="delete.png"></button>
                    <button type="submit" title="Voice Recognition" class="voice-button"><img src="voice.png"
                            class="voice-icon"></button>
                </div>
            </div>
            <div class="note">
                <div class="note-title-div">
                    <input class="note-title" type="text" name="" placeholder="Title:">
                    <textarea class="note-textarea" name="" id="" cols="15" rows="5" class="note-textarea" placeholder="Content:"></textarea>
                </div>
                <div class="buttons-on-note">
                    <button type="submit" title="Delete Note" class="delete-button"><img class="delete-icon"
                            src="delete.png"></button>
                    <button type="submit" title="Voice Recognition" class="voice-button"><img src="voice.png"
                            class="voice-icon"></button>
                </div>
            </div>
            <div class="note">
                <div class="note-title-div">
                    <input class="note-title" type="text" name="" placeholder="Title:">
                    <textarea class="note-textarea" name="" id="" cols="15" rows="5" class="note-textarea" placeholder="Content:"></textarea>
                </div>
                <div class="buttons-on-note">
                    <button type="submit" title="Delete Note" class="delete-button"><img class="delete-icon"
                            src="delete.png"></button>
                    <button type="submit" title="Voice Recognition" class="voice-button"><img src="voice.png"
                            class="voice-icon"></button>
                </div>
            </div>
            <div class="note">
                <div class="note-title-div">
                    <input class="note-title" type="text" name="" placeholder="Title:">
                    <textarea class="note-textarea" name="" id="" cols="15" rows="5" class="note-textarea" placeholder="Content:"></textarea>
                </div>
                <div class="buttons-on-note">
                    <button type="submit" title="Delete Note" class="delete-button"><img class="delete-icon"
                            src="delete.png"></button>
                    <button type="submit" title="Voice Recognition" class="voice-button"><img src="voice.png"
                            class="voice-icon"></button>
                </div>
            </div>
        </div>

        <form action="/">
            <div class="logout-button-div">
                <button title="Log out" type="submit" class="logout-button"><img class="logout-icon"
                        src="logout.png"></button>
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>