<%- include('header.ejs'); %>

<body>
    <div id="content">
        <div class="main-title-div">
            <h1 class="main-title">Linote</h1>
        </div>

        <div>
            <form action="/signup" method="POST" autocomplete="on">
                <div class="login-div">

                    <div class="upperline">
                        <h1 class="login-title">Sign up</h1>
                        <div class="icons" align="center" style="margin-bottom: 10px;">
                            <a href="#" title="Sign up with Facebook" style="margin-right: 20px;"><img
                                    class="facebook-login" src="facebook-icon.png" alt="facebook-icon"></a>
                            <a href="#" title="Sign up with Google"><img class="google-login" src="google-icon.png"
                                    alt="google-icon"></a>
                        </div>

                        <div class="signup-inputs">
                            <div class="login-credentials">
                                <input class="form-input" type="text" name="signup-username" id="signup-username"
                                    placeholder="Username" required>

                            </div>
                            <div class="login-credentials">
                                <input class="form-input" type="password" name="signup-password" id="signup-password"
                                    placeholder="Password" required>
                            </div>
                        </div>

                        <div class="error-div">
                            <% if(message.length > 0) { %>
                                <span class="error-message"><%= message %></span>
                            <% } %>
                        </div>
                        
                    </div>
                    <div class="register-question">
                        <a href="/">Back to the login</a>
                    </div>
                    <div class="button-div">
                        <button class="login-button" type="submit">Sign Up</button>
                    </div>

                </div>
            </form>
        </div>

    </div>
    <script src="script.js"></script>
</body>

</html>