html {
  background-image: radial-gradient(
    circle farthest-corner at 50.4% 49.8%,
    rgba(254, 245, 234, 1) 0%,
    rgba(255, 231, 204, 1) 90%
  );
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-title-div {
  margin-top: 25%;
}

.main-title {
  font-family: "Indie Flower", cursive;
  color: #ff6f00;
  font-size: 120px;
  text-align: center;
  position: relative;
  right: 60%;
  bottom: 10%;
}

.login-div {
  background-color: white;
  width: 40%;
  height: 600px;
  margin: 0;
  border-radius: 1%;
  box-shadow: 0px 5px 13px -4px rgba(0, 0, 0, 0.59);
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-title {
  font-family: "Indie Flower", cursive;
  color: white;
  font-size: 55px;
  text-align: center;
  bottom: 8%;
  position: relative;
}

.upperline {
  background-image: radial-gradient(
    circle 873px at 99.5% 1.4%,
    rgba(255, 167, 80, 1) 0.1%,
    rgba(255, 106, 232, 1) 100.2%
  );
  position: absolute;
  height: 35%;
  width: 100%;
}

.icons {
  position: relative;
  bottom: 15%;
}

.facebook-login {
  height: 35px;
  width: 33px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 10px;
}

.facebook-login:hover {
  border: 5px solid #ff6f00;
  transition: 0.3s;
}

.google-login {
  height: 35px;
  width: 33px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 10px;
}

.google-login:hover {
  border: 5px solid #ff6f00;
  transition: 0.3s;
}

.login-credentials {
  text-align: center;
  margin-top: 4%;
}

.login-inputs {
  margin-top: 10%;
}

#main-content {
  display: grid;
  animation: fadein 1s;
}

.main-header {
  font-family: "Indie Flower", cursive;
  clear: both;
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.59);
}

.main-hello-title {
  float: left;
  margin-left: 20px;
  color: white;
}

.main-header-title {
  float: right;
  margin-right: 20px;
  line-height: 4px;
  font-size: 50px;
  color: #ff6f00;
}

input {
  border: none;
  border-bottom: 2px solid silver;
  padding: 10px;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none;
  width: 70%;
  font-size: 20px;
  color: #282828;
}

input:-webkit-autofill {
  border: none;
  border-bottom: 2px solid silver;
  padding: 10px;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none;
  width: 70%;
  font-size: 20px;
}

input:focus {
  border-bottom: 3px solid #ff6f00;
  transition: 0.3s ease;
}

.button-div {
  position: absolute;
  bottom: 11%;
  left: 15%;
}

.login-button {
  border: none;
  padding: 24%;
  width: 200%;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.59);
  background-image: linear-gradient(
    68.1deg,
    rgba(255, 200, 69, 1) -0.3%,
    rgba(239, 69, 115, 1) 100.2%
  );
}

.login-button:hover {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.59);
  background-image: linear-gradient(
    68.1deg,
    rgba(255, 170, 69, 1) -0.3%,
    rgba(255, 69, 75, 1) 100.2%
  );
}

.register-question {
  position: absolute;
  right: 15%;
  text-align: center;
  bottom: 8%;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

a {
  position: relative;
  bottom: 15px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6f00;
  font-family: "Indie Flower", cursive;
}

a:hover {
  color: #974200;
}

.add-button {
  display: inline-block;
  margin-left: 4%;
  margin-top: 4%;
  padding: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  box-shadow: -3px 5px 10px -5px rgba(0, 0, 0, 0.59);
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  background: linear-gradient(to right, #ffa751, #ffe259);
  font-size: 250%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 0px;
}

.add-button:hover {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
  background: linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
}

.add-button:active {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
  background: linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
}

.logout-button-div {
  position: fixed;
  bottom: 10%;
  right: 8%;
}

.logout-button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  height: 70px;
  outline: none;
  position: relative;
  float: right;
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  background: linear-gradient(to right, #ffa751, #ffe259);
  box-shadow: -3px 5px 10px -5px rgba(0, 0, 0, 0.59);
}

.logout-button:hover {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
  background: linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
}

.logout-button:active {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
  background: linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
}

.logout-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  display: block;
}

@media only screen and (max-width: 760px) {
  html {
    background-image: radial-gradient(
      circle farthest-corner at 50.4% 49.8%,
      rgba(254, 245, 234, 1) 0%,
      rgba(255, 231, 204, 1) 90%
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .icons {
    position: relative;
    bottom: 15%;
  }

  body {
    overflow: auto;
  }

  .main-title-div {
    margin-top: inherit;
    position: relative;
    left: 60%;
  }

  .main-title {
    font-size: 50px;
  }

  .login-title {
    font-size: 35px;
  }

  .login-div {
    width: 63%;
    height: 60%;
    top: 50%;
    left: 20%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .facebook-login {
    height: 20px;
    width: 16px;
  }

  .google-login {
    height: 20px;
    width: 16px;
  }

  .login-button {
    padding: 23%;
    width: 146%;
    font-size: 8px;
  }

  input {
    border: none;
    border-bottom: 2px solid silver;
    padding: 2px;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
    width: 60%;
    font-size: 10px;
  }

  input:-webkit-autofill {
    border: none;
    border-bottom: 2px solid silver;
    padding: 2px;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
    width: 60%;
    font-size: 10px;
  }

  input:focus {
    border-bottom: 2px solid #ff6f00;
    transition: 0.3s ease;
  }

  .register-question {
    position: absolute;
    right: 8%;
    text-align: center;
    bottom: 8%;
    font-family: "Indie Flower", cursive;
    font-weight: bold;
  }

  p {
    font-size: 55%;
  }

  a {
    position: relative;
    bottom: 15px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: #ff6f00;
    font-family: "Indie Flower", cursive;
  }

  #main-content {
    display: grid;
    font-family: "Indie Flower", cursive;
  }

  .main-header-title {
    float: right;
    margin-right: 20px;
    font-size: 35px;
    position: relative;
    top: 25%;
  }

  .main-header {
    color: white;
    clear: both;
  }

  .main-hello-title {
    float: left;
    margin-left: 20px;
  }

  .add-button {
    margin-left: 7%;
    margin-top: 8%;
    width: 50px;
    height: 50px;
    font-size: 190%;
    padding: 10px;
  }

  .logout-button-div {
    position: fixed;
    bottom: 5%;
    right: 10%;
  }

  .logout-button {
    padding: 15px;
    width: 57px;
    height: 57px;
  }

  .logout-icon {
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    display: block;
  }
}
