html {
  background-image: radial-gradient(
    circle farthest-corner at 50.4% 49.8%,
    rgba(254, 245, 234, 1) 0%,
    rgba(255, 231, 204, 1) 90%
  );
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-title-div {
  margin-top: 25%;
}

.main-title {
  font-family: "Indie Flower", cursive;
  color: #ff6f00;
  font-size: 120px;
  text-align: center;
  position: relative;
  right: 60%;
  margin-top: 20px;
}

.login-div {
  background-color: white;
  width: 40%;
  height: 600px;
  margin: 0;
  border-radius: 1%;
  box-shadow: 0px 5px 13px -4px rgba(0, 0, 0, 0.59);
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-title {
  font-family: "Indie Flower", cursive;
  color: white;
  font-size: 55px;
  text-align: center;
  bottom: 8%;
  position: relative;
}

.upperline {
  background-image: radial-gradient(
    circle 873px at 99.5% 1.4%,
    rgba(255, 167, 80, 1) 0.1%,
    rgba(255, 106, 232, 1) 100.2%
  );
  position: absolute;
  height: 35%;
  width: 100%;
}

.icons {
  position: relative;
  bottom: 15%;
}

.facebook-login {
  height: 35px;
  width: 33px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 10px;
}

.facebook-login:hover {
  border: 5px solid #ff6f00;
  transition: 0.3s;
}

.google-login {
  height: 35px;
  width: 33px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 10px;
}

.google-login:hover {
  border: 5px solid #ff6f00;
  transition: 0.3s;
}

.login-credentials {
  text-align: center;
  margin-top: 4%;
}

.login-inputs {
  margin-top: 10%;
}

#main-content {
  display: grid;
  animation: fadein 1s;
}

.main-header {
  font-family: "Indie Flower", cursive;
  clear: both;
  background-image: radial-gradient( circle farthest-corner at 3.1% 8.2%,  rgba(248,250,107,1) 0%, rgba(238,148,148,1) 98.2% );
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.59);
}

.main-hello-title {
  float: right;
  margin-right: 20px;
  color: white;
}

.main-header-title {
  float: left;
  margin-left: 20px;
  line-height: 4px;
  font-size: 50px;
  color: #ff6f00;
}

.form-input {
  border: none;
  border-bottom: 2px solid silver;
  padding: 10px;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none;
  width: 70%;
  font-size: 20px;
  color: #282828;
}

.form-input:-webkit-autofill {
  border: none;
  border-bottom: 2px solid silver;
  padding: 10px;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none;
  width: 70%;
  font-size: 20px;
}

.form-input:focus {
  border-bottom: 3px solid #ff6f00;
  transition: 0.3s ease;
}

.button-div {
  position: absolute;
  bottom: 11%;
  left: 15%;
}

.login-button {
  border: none;
  padding: 24%;
  width: 200%;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.59);
  background-image: linear-gradient(
    68.1deg,
    rgba(255, 200, 69, 1) -0.3%,
    rgba(239, 69, 115, 1) 100.2%
  );
}

.login-button:hover {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.59);
  background-image: linear-gradient(
    68.1deg,
    rgba(255, 170, 69, 1) -0.3%,
    rgba(255, 69, 75, 1) 100.2%
  );
}

.register-question {
  position: absolute;
  right: 15%;
  text-align: center;
  bottom: 8%;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

a {
  position: relative;
  bottom: 15px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6f00;
  font-family: "Indie Flower", cursive;
}

a:hover {
  color: #974200;
}

.add-button {
  display: inline-block;
  margin-left: 4%;
  margin-top: 4%;
  padding: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  box-shadow: -3px 5px 10px -5px rgba(0, 0, 0, 0.59);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(251,176,64,1) 0%, rgba(251,223,64,1) 90% );
  font-size: 250%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 0px;
}

.add-button:hover {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
  background: linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
}

.add-button:active {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
  background: linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
}

.logout-button-div {
  position: fixed;
  bottom: 10%;
  right: 8%;
}

.logout-button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  height: 70px;
  outline: none;
  position: relative;
  float: right;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(251,176,64,1) 0%, rgba(251,223,64,1) 90% );
  box-shadow: -3px 5px 10px -5px rgba(0, 0, 0, 0.59);
}

.logout-button:hover {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
  background: linear-gradient(
    to right,
    #fc9d3f,
    #fcda34
  );
}

.logout-button:active {
  background: #ffe259;
  background: -webkit-linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
  background: linear-gradient(
    to right,
    #fc8d1f,
    #fad51c
  );
}

.logout-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  display: block;
}

.note-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 350px);
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 30px;
}

.note {
  width: 90%;
  height: 200px;
  background-color: #ffbf00;
  cursor: pointer;
  transition: 0.3s ease;
  transform: rotate(-4deg);
  -o-transform:rotate(-4deg);
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  box-shadow: -3px 5px 10px -5px rgba(0, 0, 0, 0.59);
}

.note:hover {
  transform: rotate(0deg);
  -o-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  width: 100%;
  height: 230px;
  box-shadow: -3px 5px 10px -1px rgba(0, 0, 0, 0.59);
}

.note:active {
  transform: rotate(0deg);
  -o-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  width: 100%;
  height: 230px;
  box-shadow: -3px 5px 10px -1px rgba(0, 0, 0, 0.59);
}

.buttons-on-note {
  position: relative;
  right: 2%;
}

.delete-button {
  position: relative;
  outline: none;
  float: right;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 0.59);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(235, 174, 82) 0%, rgb(255, 225, 55) 90% );
}

.delete-button:hover {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(233, 142, 5) 0%, rgb(253, 215, 0) 90% );
}

.delete-button:active {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(179, 107, 0) 0%, rgb(233, 199, 5) 90% );
}

.delete-icon {
  width: 30px;
  height: 30px;
}

.voice-button {
  position: relative;
  margin-right: 10px;
  outline: none;
  float: right;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 0.59);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(235, 174, 82) 0%, rgb(255, 225, 55) 90% );
}

.voice-icon {
  width: 30px;
  height: 30px;
}

.voice-button:hover {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(233, 142, 5) 0%, rgb(253, 215, 0) 90% );
}

.voice-button:active {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(179, 107, 0) 0%, rgb(233, 199, 5) 90% );
}

.note-title {
  font-family: "Indie Flower", cursive;
  border:none;
  background: transparent;
  color: black;
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  width: 85%;
}

.note-title::placeholder {
  color: black;
  opacity: 0.5;
}

.note-textarea {
  font-family: "Indie Flower", cursive;
  border:none;
  background: transparent;
  color: black;
  padding-left: 15px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  width: 85%;
  margin: 0;
  height: 120%;
  resize: none;
}

.note-textarea::placeholder {
  opacity: 0.5;
  color: black;
}

@media only screen and (max-width: 760px) {
  html {
    background-image: radial-gradient(
      circle farthest-corner at 50.4% 49.8%,
      rgba(254, 245, 234, 1) 0%,
      rgba(255, 231, 204, 1) 90%
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .icons {
    position: relative;
    bottom: 15%;
  }

  body {
    overflow: auto;
  }

  .main-title-div {
    margin-top: inherit;
    position: relative;
    left: 60%;
  }

  .main-title {
    font-size: 50px;
  }

  .login-title {
    font-size: 35px;
  }

  .login-div {
    width: 63%;
    height: 60%;
    top: 50%;
    left: 20%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .facebook-login {
    height: 20px;
    width: 16px;
  }

  .google-login {
    height: 20px;
    width: 16px;
  }

  .login-button {
    padding: 23%;
    width: 146%;
    font-size: 8px;
  }

  .form-input {
    border: none;
    border-bottom: 2px solid silver;
    padding: 2px;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
    width: 60%;
    font-size: 10px;
  }

  .form-input:-webkit-autofill {
    border: none;
    border-bottom: 2px solid silver;
    padding: 2px;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
    width: 60%;
    font-size: 10px;
  }

  .form-input:focus {
    border-bottom: 2px solid #ff6f00;
    transition: 0.3s ease;
  }

  .register-question {
    position: absolute;
    right: 8%;
    text-align: center;
    bottom: 8%;
    font-family: "Indie Flower", cursive;
    font-weight: bold;
  }

  p {
    font-size: 55%;
  }

  a {
    position: relative;
    bottom: 15px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: #ff6f00;
    font-family: "Indie Flower", cursive;
  }

  #main-content {
    display: grid;
    font-family: "Indie Flower", cursive;
  }

  .main-header-title {
    font-size: 35px;
    position: relative;
    top: 25%;
  }

  .main-header {
    color: white;
    clear: both;
  }

  .add-button {
    margin-left: 7%;
    margin-top: 8%;
    width: 50px;
    height: 50px;
    font-size: 190%;
    padding: 10px;
  }

  .logout-button-div {
    position: fixed;
    bottom: 5%;
    right: 10%;
  }

  .logout-button {
    padding: 15px;
    width: 57px;
    height: 57px;
  }

  .logout-icon {
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    display: block;
  }

  .note-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .note {
    margin: 0 auto;
    position: relative;
    width: 67%;
    height: 190px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .note:hover {
    width: 80%;
    height: 215px;
  }
  
  .note:active {
    transform: rotate(0deg);
    -o-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    width: 80%;
    height: 215px;
  }

  .buttons-on-note {
    position: relative;
    top: 12%;
    right: 2%;
  }

  .delete-button {
    padding: 8px;
  }

  .voice-button {
    padding: 8px;
  }

  .voice-icon {
    width: 25px;
    height: 25px;
  }

  .delete-icon {
    width: 25px;
    height: 25px;
  }

  .note-title {
    font-family: "Indie Flower", cursive;
    border:none;
    background: transparent;
    color: black;
    padding: 10px;
    outline: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .note-textarea {
    outline: none;
    font-weight: bold;
    font-size: 12px;
  }
}